/* reset */
*,::before,::after{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	tap-highlight-color:none
	-webkit-tap-highlight-color:transparent;
}
body{
	font-size:14px;
	color:#333;
	font-family:'Microsoft Yahei',sans-serif;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
	color:#333;
}
input,textarea{
	outline:none;
	border:none;
	resize:none;
	/* 清除移动端输入框特有的样式 */
	-webkit-appearance:none;
}

/* common */
.clearfix::after{
	content:'';
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}